<div class="container">
    <nav class="input">
        <app-input-bar></app-input-bar>
    </nav>
    <div class="main">
        <div class="recipes" *ngFor="let recipe of displayedRecipes">
            <app-recipe-card [recipes]="recipe" *ngIf="dataLoaded"></app-recipe-card>
        </div>
    </div>
    <div class="detailed_screen">
        <app-detailed-screen *ngIf="ingredients && ingredients.length > 0 && currentRecipe" [ingredients]="ingredients"
            [currentRecipe]="currentRecipe"></app-detailed-screen>
    </div>
</div>