.recipe-container{
    display:grid;
    opacity: 1;
    height: auto;
    transition: opacity 1s, height 1s;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

.detailed-container{
    display:grid;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s, height 1s;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

.recipes{
    padding: 2em;
}

.input{
    height: 3.5em;
    padding: 1em;
    width:100%;
    display: inline-block;
    /* justify-content:space-between;
    align-items: flex-start; */
    grid-row: 1/2;
    background-color: #27576b ;
}
.main{
 grid-row: 2/3;
 display: flex;
 flex-wrap: wrap;
}

.detailed_screen{
    grid-row: 3/4;
    width:fit-content;
    padding: 1em 1em 0 1em;
    font-size: large;
}