<header>
    <h1 class="dialog_header">New Recipe</h1>
</header>
<div class="dialog_body">
    <mat-form-field appearance="outline">
        <mat-label>Recipe Name</mat-label>
        <input matInput placeholder="Grandma's Brownies..." [(ngModel)]="title" required>
        <mat-hint>*required</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select required [(ngModel)]="category">
            <mat-option value="">Please select one</mat-option>
            <mat-option value="Meat">Meat</mat-option>
            <mat-option value="Salad">Salad</mat-option>
            <mat-option value="Chicken">Chicken</mat-option>
            <mat-option value="Soup">Soup</mat-option>
            <mat-option value="Dessert">Dessert</mat-option>
        </mat-select>
        <mat-hint>*required</mat-hint>
    </mat-form-field>
    <div class="image_upload">
        <mat-label>Share a photo</mat-label>
        <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Tell Us About the Dish!</mat-label>
        <textarea matInput required [(ngModel)]="description"></textarea>
        <mat-hint>*required</mat-hint>
    </mat-form-field>
    <div class="ingredients-panel">
        <mat-form-field appearance="outline">
            <mat-label>Ingredients</mat-label>
            <input matInput [(ngModel)]="userIngredientInput" placeholder="Cherries, Garlic, Onion...">
            <!-- <input type="text" placeholder="Cherries, Garlic, Onion..." matInput [formControl]="ingredientControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of data.autoCompleteOptions" track option
                        [value]="option">{{option}}</mat-option>
                </mat-autocomplete> -->
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addIngredient()">Add</button>
    </div>
    <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>Current Ingredients</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
            <ul id="ingredientList">
            </ul>
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <section>
        <div class="dialog_row">
            <button class="cancel_position" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            <button class="submit_position" mat-raised-button type="submit" (click)="onSubmit()">Submit</button>
        </div>
    </section>
</div>